In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.decomposition import PCA

In [3]:
from ucimlrepo import fetch_ucirepo 
  
dry_bean = fetch_ucirepo(id=602) 
  
X = dry_bean.data.features 
y = dry_bean.data.targets

In [4]:
X

,Area,Perimeter,MajorAxisLength,MinorAxisLength,AspectRatio,Eccentricity,ConvexArea,EquivDiameter,Extent,Solidity,Roundness,Compactness,ShapeFactor1,ShapeFactor2,ShapeFactor3,ShapeFactor4
0,28395,610.291,208.178117,173.888747,1.197191,0.549812,28715,190.141097,0.763923,0.988856,0.958027,0.913358,0.007332,0.003147,0.834222,0.998724
1,28734,638.018,200.524796,182.734419,1.097356,0.411785,29172,191.272751,0.783968,0.984986,0.887034,0.953861,0.006979,0.003564,0.909851,0.998430
2,29380,624.110,212.826130,175.931143,1.209713,0.562727,29690,193.410904,0.778113,0.989559,0.947849,0.908774,0.007244,0.003048,0.825871,0.999066
3,30008,645.884,210.557999,182.516516,1.153638,0.498616,30724,195.467062,0.782681,0.976696,0.903936,0.928329,0.007017,0.003215,0.861794,0.994199
4,30140,620.134,201.847882,190.279279,1.060798,0.333680,30417,195.896503,0.773098,0.990893,0.984877,0.970516,0.006697,0.003665,0.941900,0.999166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13606,42097,759.696,288.721612,185.944705,1.552728,0.765002,42508,231.515799,0.714574,0.990331,0.916603,0.801865,0.006858,0.001749,0.642988,0.998385
13607,42101,757.499,281.576392,190.713136,1.476439,0.735702,42494,231.526798,0.799943,0.990752,0.922015,0.822252,0.006688,0.001886,0.676099,0.998219
13608,42139,759.321,281.539928,191.187979,1.472582,0.734065,42569,231.631261,0.729932,0.989899,0.918424,0.822730,0.006681,0.001888,0.676884,0.996767
13609,42147,763.779,283.382636,190.275731,1.489326,0.741055,42667,231.653247,0.705389,0.987813,0.907906,0.817457,0.006724,0.001852,0.668237,0.995222
13610,42159,772.237,295.142741,182.204716,1.619841,0.786693,42600,231.686223,0.788962,0.989648,0.888380,0.784997,0.007001,0.001640,0.616221,0.998180

In [5]:
y

          Class
0         SEKER
1         SEKER
2         SEKER
3         SEKER
4         SEKER
...         ...
13606  DERMASON
13607  DERMASON
13608  DERMASON
13609  DERMASON
13610  DERMASON

[13611 rows x 1 columns]

In [6]:
sfm = SelectFromModel(RandomForestClassifier()).fit(X, y)

c:\Users\Nico\anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [7]:
X_sfm = pd.DataFrame(sfm.transform(X), columns=sfm.get_feature_names_out())

In [8]:
pca = PCA().fit(X)

In [9]:
list(map(lambda p: round(p,5), pca.explained_variance_ratio_))

[0.99997,
 3e-05,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [10]:
pca = PCA(n_components=2).fit(X)

In [11]:
pd.DataFrame(pca.transform(X), columns=pca.get_feature_names_out())

               pca0        pca1
0     -35149.923738  -22.086841
1     -34586.321890   58.586565
2     -33764.026291  -38.995373
3     -32586.564121  239.179424
4     -32712.806082  -71.439790
...             ...         ...
13606 -15707.436349  -99.766954
13607 -15714.623851 -112.800721
13608 -15634.515179  -87.239053
13609 -15559.055018  -24.031005
13610 -15598.314070  -78.240045

[13611 rows x 2 columns]

In [13]:
y.nunique()

Class    7
dtype: int64

In [18]:
from sklearn.preprocessing import OneHotEncoder

en = OneHotEncoder(sparse_output=False)
enc = en.fit_transform(y)

In [22]:
pd.DataFrame(enc, columns=en.get_feature_names_out())

,Class_BARBUNYA,Class_BOMBAY,Class_CALI,Class_DERMASON,Class_HOROZ,Class_SEKER,Class_SIRA
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...
13606,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13607,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13608,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13609,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13610,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [25]:
y

          Class
0         SEKER
1         SEKER
2         SEKER
3         SEKER
4         SEKER
...         ...
13606  DERMASON
13607  DERMASON
13608  DERMASON
13609  DERMASON
13610  DERMASON

[13611 rows x 1 columns]

In [26]:
from sklearn.preprocessing import LabelEncoder

dry_bean = fetch_ucirepo(id=602)
X = dry_bean.data.features
y = dry_bean.data.targets
sfm = SelectFromModel(RandomForestClassifier()).fit(X, y)
pca = PCA(n_components=2).fit(X)  # 2 components chosen based on Notebook
le = LabelEncoder().fit(y)
X_sfm = pd.DataFrame(sfm.transform(X), columns=sfm.get_feature_names_out())
X_pca = pd.DataFrame(pca.transform(X), columns=pca.get_feature_names_out())
y_enc = le.transform(y)
X_sfm['target'] = y_enc
X_pca['target'] = y_enc

c:\Users\Nico\anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
c:\Users\Nico\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:97: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\Nico\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [28]:
len(X_sfm['target'])

13611

In [33]:
en = OneHotEncoder(sparse_output=False)
enco = en.fit_transform(pd.DataFrame(X_pca['target']))
enc = pd.DataFrame(enco, columns=en.get_feature_names_out()).fillna(0)
enc

       target_0  target_1  target_2  target_3  target_4  target_5  target_6
0           0.0       0.0       0.0       0.0       0.0       1.0       0.0
1           0.0       0.0       0.0       0.0       0.0       1.0       0.0
2           0.0       0.0       0.0       0.0       0.0       1.0       0.0
3           0.0       0.0       0.0       0.0       0.0       1.0       0.0
4           0.0       0.0       0.0       0.0       0.0       1.0       0.0
...         ...       ...       ...       ...       ...       ...       ...
13606       0.0       0.0       0.0       1.0       0.0       0.0       0.0
13607       0.0       0.0       0.0       1.0       0.0       0.0       0.0
13608       0.0       0.0       0.0       1.0       0.0       0.0       0.0
13609       0.0       0.0       0.0       1.0       0.0       0.0       0.0
13610       0.0       0.0       0.0       1.0       0.0       0.0       0.0

[13611 rows x 7 columns]

In [34]:
data_frame = pd.concat([X_pca.drop('target', axis=1), enc], axis=1)
target = enc.columns

In [35]:
len(data_frame)

13611

In [36]:
data_frame

,pca0,pca1,target_0,target_1,target_2,target_3,target_4,target_5,target_6
0,-35149.923738,-22.086841,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,-34586.321890,58.586565,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,-33764.026291,-38.995373,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,-32586.564121,239.179424,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,-32712.806082,-71.439790,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
13606,-15707.436349,-99.766954,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13607,-15714.623851,-112.800721,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13608,-15634.515179,-87.239053,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13609,-15559.055018,-24.031005,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13610,-15598.314070,-78.240045,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [29]:
len(X_sfm['target'].dropna())

13611